.traffic-stick, .traffic-body {
    background-color: black;
}
.traffic-stick {
    width: 20px;
    height: 100px;
}
.traffic-body {
    width: 100px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
}
.traffic-light {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.red-off {
    background-color: rgb(105, 0, 0);
}
.red-on {
    background-color: red;
    box-shadow: 0 0 60px 30px rgb(255, 0, 0);
}
.orange-off {
    background-color: rgb(143, 93, 0);
}
.orange-on {
    background-color: rgb(255, 176, 30);
    box-shadow: 0 0 60px 30px rgb(255, 176, 30);
}
.green-off {
    background-color: rgb(0, 85, 0);
}
.green-on {
    background-color: greenyellow;
    box-shadow: 0 0 60px 30px rgb(173, 255, 47);
}